doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/s/b/css/bootstrap.min.css')
    link(rel='stylesheet', href='/s/b/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/s/main.css')
  body.pad
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/')
          i.glyphicon.glyphicon-picture
          |  Outline
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href='#')
              i.glyphicon.glyphicon-map-marker
              |  Alpha
          li
            a(href='#')
              i.glyphicon.glyphicon-tag
              |  Beta

    block content

    script(src='//code.jquery.com/jquery-1.10.2.min.js')
    script(src='/s/b/js/bootstrap.min.js')
    block scripts
